# Python Quick Review

### *Numbers (Integers, Floats)*

In [1]:
3+2

5

In [2]:
3*2

6

In [3]:
3/2

1.5

In [7]:
## floor division
3//2

1

In [5]:
3%2

1

In [6]:
3**2

9

### Variables

In [8]:
a = 3
b = 2
a + b

5

In [9]:
a = a+a
a

6

In [10]:
t0, t1 = (3, 9)
t1

9

### Strings

In [11]:
"Is it wonderful?"

'Is it wonderful?'

In [12]:
'Is it wonderful?'

'Is it wonderful?'

In [13]:
"Isn't it wonderful!"

"Isn't it wonderful!"

In [14]:
s = "string"
s[0]

's'

In [15]:
 s[5] = 'e'    # string is immutable, can't change it

TypeError: 'str' object does not support item assignment

### Print()

In [ ]:
print("printed")

In [16]:
descriptor = "mean"
mean = 8.12
print("The {} of the feature is {}".format(descriptor, mean))

The mean of the feature is 8.12

In [17]:
print("The {two} of the feature is {one}".format(one = descriptor, two = mean))

The 8.12 of the feature is mean

### Lists

In [20]:
print([1,2,3])

[1, 2, 3]

In [21]:
L = [1, 'two', 3]
print(L)

[1, 'two', 3]

In [22]:
L[0] = 4
L

[4, 'two', 3]

In [23]:
L.append('five')
L

[4, 'two', 3, 'five']

In [24]:
L.insert(0, 1)     # position, item
L

[1, 4, 'two', 3, 'five']

In [25]:
L2 = [55, 21, 34, 12, 8, 9]
# L.sort()    # sorts the list in place
sorted(L2)    # returns a new sorted list

[8, 9, 12, 21, 34, 55]

In [26]:
L2

[55, 21, 34, 12, 8, 9]

In [27]:
del L2[2]
L2

[55, 21, 12, 8, 9]

In [28]:
L.extend(L2)    # L += L2
L

[1, 4, 'two', 3, 'five', 55, 21, 12, 8, 9]

### list slicing

In [29]:
L3 = [1,2,3,4,5]
L3[0:3]

[1, 2, 3]

In [30]:
L3[::-1]     # returns a reversed copy of the list

[5, 4, 3, 2, 1]

In [31]:
L3[3:]

[4, 5]

In [32]:
L3[-1]      # returns the last item

5

### Dictionaries

In [33]:
d = {"key1": "Tim Mays", "key2": ["soccer", "2018"]}
d["key1"]

'Tim Mays'

In [34]:
d["key2"][1]

'2018'

In [35]:
d["key3"] = "Olympics"
d

{'key1': 'Tim Mays', 'key2': ['soccer', '2018'], 'key3': 'Olympics'}

In [36]:
del d['key3']
d

{'key1': 'Tim Mays', 'key2': ['soccer', '2018']}

In [37]:
list(d.keys())

['key1', 'key2']

In [38]:
list(d.values())

['Tim Mays', ['soccer', '2018']]

In [39]:
list(d.items())

[('key1', 'Tim Mays'), ('key2', ['soccer', '2018'])]

In [40]:
'key2' in d.keys()

True

### Tuples

In [42]:
tup = (1,2,3)
tup

(1, 2, 3)

In [43]:
tup[:2]

(1, 2)

In [44]:
tup[0] = 'new'     # immutable

TypeError: 'tuple' object does not support item assignment

In [45]:
shape = (250, 9)
num_samples, num_features = shape     # unpacking, assign multiple values at once
print(num_features)

9

### Sets

In [46]:
{1,2,3,1,2,3, None, None}

{1, 2, 3, None}

In [47]:
st = set([5,10,15,10,5])
st

{5, 10, 15}

In [48]:
st.add(20)
st

{5, 10, 15, 20}

In [49]:
20 in st

True

### Booleans

In [50]:
True

True

In [51]:
False

False

In [52]:
int(True)

1

In [53]:
int(False)

0

In [54]:
True and True

True

In [55]:
True and False

False

In [56]:
True or False

True

### Comparison Operators

In [57]:
1 < 2

True

In [58]:
1 > 2

False

In [59]:
1 <= 2

True

In [60]:
1 >= 2

False

In [61]:
1 == 2

False

In [62]:
1 != 2

True

In [63]:
"string" == "string"

True

In [64]:
"string" == 'spring'

False

In [65]:
(1 < 2) and (2 < 3)

True

In [66]:
(1 > 2) or (2 < 3)

True

### if, elif, else Statements

In [73]:
if True:
    print("Yes!")

Yes!

In [74]:
if 1: 
    print("True")

True

In [75]:
if 0: 
    print("True")
else:
    print("False")

False

In [76]:
if 100: 
    print("Really True!")

Really True!

In [77]:
if 1 > 1000:
    print("Yes!")
elif 1 > 100:
    print("Maybe")
else:
    print("No!")

No!

### for Loops

In [78]:
L = [19, 21, 23, 25]
for item in L:
    print("Welcome!")

Welcome!
Welcome!
Welcome!
Welcome!

In [79]:
for age in L:
    print(age)

19
21
23
25

In [80]:
list(range(50, 61))

[50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]

In [81]:
for i in range(0, 26, 5):
    print(i)

0
5
10
15
20
25

### while

In [82]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

### List comprehension

In [83]:
L = [-1,-2,-3,-4,-5]
L

[-1, -2, -3, -4, -5]

In [84]:
L_abs = [abs(num) for num in L]
L_abs

[1, 2, 3, 4, 5]

In [85]:
filter_L = [num for num in L_abs if num < 3]
filter_L

[1, 2]

### Functions

In [67]:
def f(parameters):
    pass

In [68]:
def f(shape):
    rows, columns = shape
    print("Rows:{}  Columns:{}".format(rows, columns))

In [69]:
f((250,9))

Rows:250  Columns:9

In [70]:
def f2(shape):
    number_of_samples = shape[0]
    number_of_features = shape[1]
    return number_of_samples, number_of_features

In [71]:
var1, var2 = f2(shape)
var1

250

In [72]:
n_samples, n_features = f2((250, 9))      # unpacking a tuple
print(n_features)

9