In [5]:
import pandas as pd
import datetime as dt

## Review of Pythong's DateTime Module

In [4]:
someday = dt.date(2016, 4, 12)

In [6]:
someday.year

2016

In [7]:
someday.month

4

In [8]:
someday.day

12

In [9]:
dt.datetime(2010, 1, 20)

datetime.datetime(2010, 1, 20, 0, 0)

In [12]:
sometime = dt.datetime(2010, 1, 20, 8, 13, 57)

In [11]:
str(dt.datetime(2010, 1, 20, 8, 13, 57))

'2010-01-20 08:13:57'

In [19]:
sometime.year
sometime.month
sometime.day
sometime.hour
sometime.minute
sometime.second

57

## The Pandas Timestamp Object

In [20]:
pd.Timestamp("2015-03-01")

Timestamp('2015-03-01 00:00:00')

In [21]:
pd.Timestamp("2015/03/01")

Timestamp('2015-03-01 00:00:00')

In [22]:
pd.Timestamp("2015, 03, 01")

Timestamp('2015-03-01 00:00:00')

In [24]:
pd.Timestamp("1/1/2015")

Timestamp('2015-01-01 00:00:00')

In [25]:
pd.Timestamp("19/12/2015")

Timestamp('2015-12-19 00:00:00')

In [28]:
pd.Timestamp(dt.date(2016, 4, 12))

Timestamp('2016-04-12 00:00:00')

## The Pandas DateTimeIndex Object

In [13]:
dates = ["2016-01-02", "2016-04-12", "2009 -09-07"]
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [14]:
type(pd.DatetimeIndex(dates))

pandas.core.indexes.datetimes.DatetimeIndex

In [15]:
dates = [dt.date(2016, 1, 10), dt.date(2009, 9, 7), dt.date(2016, 4, 12)]
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-10', '2009-09-07', '2016-04-12'], dtype='datetime64[ns]', freq=None)

In [16]:
values = [100, 200, 300]
pd.Series(data = values, index = dates)

2016-01-10    100
2009-09-07    200
2016-04-12    300
dtype: int64

## The pd.to_datetime() Method

In [17]:
pd.to_datetime("2014-01-09")
pd.to_datetime(dt.date(2019, 1, 3))
pd.to_datetime(dt.datetime(2015, 1, 4, 15, 20))
pd.to_datetime(["2015-01-03", "2014/02/08", "2016", "July 4th, 2016"])

DatetimeIndex(['2015-01-03', '2014-02-08', '2016-01-01', '2016-07-04'], dtype='datetime64[ns]', freq=None)

In [18]:
times = pd.Series(["2015-01-03", "2014/02/08", "2016", "July 4th, 2016"])

In [19]:
pd.to_datetime(times)

0   2015-01-03
1   2014-02-08
2   2016-01-01
3   2016-07-04
dtype: datetime64[ns]

In [20]:
dates = pd.Series(["July 4th, 1996", "10/04/1991", "2015-02-31"])
dates

0    July 4th, 1996
1        10/04/1991
2        2015-02-31
dtype: object

In [21]:
pd.to_datetime(dates, errors = "coerce")

0   1996-07-04
1   1991-10-04
2          NaT
dtype: datetime64[ns]

## Create Range of Dates with pd.date_range() Method

In [22]:
times = pd.date_range(start = "2016-01-01", end = "2016-01-16", freq = "D")

In [23]:
pd.date_range(start = "2016-01-01", end = "2016-01-16", freq = "2D")

DatetimeIndex(['2016-01-01', '2016-01-03', '2016-01-05', '2016-01-07',
               '2016-01-09', '2016-01-11', '2016-01-13', '2016-01-15'],
              dtype='datetime64[ns]', freq='2D')

In [24]:
pd.date_range(start = "2016-01-01", end = "2016-01-16", freq = "B")

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08', '2016-01-11', '2016-01-12',
               '2016-01-13', '2016-01-14', '2016-01-15'],
              dtype='datetime64[ns]', freq='B')

In [25]:
pd.date_range(start = "2016-01-01", end = "2016-01-16", freq = "W")

DatetimeIndex(['2016-01-03', '2016-01-10'], dtype='datetime64[ns]', freq='W-SUN')

In [26]:
pd.date_range(start = "2016-01-01", end = "2016-12-16", freq = "M")

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31', '2016-11-30'],
              dtype='datetime64[ns]', freq='M')

In [27]:
pd.date_range(start = "2016-01-01", end = "2040-01-16", freq = "A")

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [28]:
pd.date_range(start = "2012-09-12", periods = 25, freq = "D")

DatetimeIndex(['2012-09-12', '2012-09-13', '2012-09-14', '2012-09-15',
               '2012-09-16', '2012-09-17', '2012-09-18', '2012-09-19',
               '2012-09-20', '2012-09-21', '2012-09-22', '2012-09-23',
               '2012-09-24', '2012-09-25', '2012-09-26', '2012-09-27',
               '2012-09-28', '2012-09-29', '2012-09-30', '2012-10-01',
               '2012-10-02', '2012-10-03', '2012-10-04', '2012-10-05',
               '2012-10-06'],
              dtype='datetime64[ns]', freq='D')

In [29]:
pd.date_range(start = "2012-09-09", periods = 50, freq = "B")

DatetimeIndex(['2012-09-10', '2012-09-11', '2012-09-12', '2012-09-13',
               '2012-09-14', '2012-09-17', '2012-09-18', '2012-09-19',
               '2012-09-20', '2012-09-21', '2012-09-24', '2012-09-25',
               '2012-09-26', '2012-09-27', '2012-09-28', '2012-10-01',
               '2012-10-02', '2012-10-03', '2012-10-04', '2012-10-05',
               '2012-10-08', '2012-10-09', '2012-10-10', '2012-10-11',
               '2012-10-12', '2012-10-15', '2012-10-16', '2012-10-17',
               '2012-10-18', '2012-10-19', '2012-10-22', '2012-10-23',
               '2012-10-24', '2012-10-25', '2012-10-26', '2012-10-29',
               '2012-10-30', '2012-10-31', '2012-11-01', '2012-11-02',
               '2012-11-05', '2012-11-06', '2012-11-07', '2012-11-08',
               '2012-11-09', '2012-11-12', '2012-11-13', '2012-11-14',
               '2012-11-15', '2012-11-16'],
              dtype='datetime64[ns]', freq='B')

In [30]:
pd.date_range(start = "2012-09-09", periods = 50, freq = "W-TUE")

DatetimeIndex(['2012-09-11', '2012-09-18', '2012-09-25', '2012-10-02',
               '2012-10-09', '2012-10-16', '2012-10-23', '2012-10-30',
               '2012-11-06', '2012-11-13', '2012-11-20', '2012-11-27',
               '2012-12-04', '2012-12-11', '2012-12-18', '2012-12-25',
               '2013-01-01', '2013-01-08', '2013-01-15', '2013-01-22',
               '2013-01-29', '2013-02-05', '2013-02-12', '2013-02-19',
               '2013-02-26', '2013-03-05', '2013-03-12', '2013-03-19',
               '2013-03-26', '2013-04-02', '2013-04-09', '2013-04-16',
               '2013-04-23', '2013-04-30', '2013-05-07', '2013-05-14',
               '2013-05-21', '2013-05-28', '2013-06-04', '2013-06-11',
               '2013-06-18', '2013-06-25', '2013-07-02', '2013-07-09',
               '2013-07-16', '2013-07-23', '2013-07-30', '2013-08-06',
               '2013-08-13', '2013-08-20'],
              dtype='datetime64[ns]', freq='W-TUE')

In [31]:
pd.date_range(start = "2012-09-09", periods = 50, freq = "MS")

DatetimeIndex(['2012-10-01', '2012-11-01', '2012-12-01', '2013-01-01',
               '2013-02-01', '2013-03-01', '2013-04-01', '2013-05-01',
               '2013-06-01', '2013-07-01', '2013-08-01', '2013-09-01',
               '2013-10-01', '2013-11-01', '2013-12-01', '2014-01-01',
               '2014-02-01', '2014-03-01', '2014-04-01', '2014-05-01',
               '2014-06-01', '2014-07-01', '2014-08-01', '2014-09-01',
               '2014-10-01', '2014-11-01', '2014-12-01', '2015-01-01',
               '2015-02-01', '2015-03-01', '2015-04-01', '2015-05-01',
               '2015-06-01', '2015-07-01', '2015-08-01', '2015-09-01',
               '2015-10-01', '2015-11-01', '2015-12-01', '2016-01-01',
               '2016-02-01', '2016-03-01', '2016-04-01', '2016-05-01',
               '2016-06-01', '2016-07-01', '2016-08-01', '2016-09-01',
               '2016-10-01', '2016-11-01'],
              dtype='datetime64[ns]', freq='MS')

In [32]:
pd.date_range(end = "1999-12-31", periods = 20, freq = "D")

DatetimeIndex(['1999-12-12', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-18', '1999-12-19',
               '1999-12-20', '1999-12-21', '1999-12-22', '1999-12-23',
               '1999-12-24', '1999-12-25', '1999-12-26', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='D')

In [33]:
pd.date_range(end = "1999-12-31", periods = 20, freq = "W-SUN")

DatetimeIndex(['1999-08-15', '1999-08-22', '1999-08-29', '1999-09-05',
               '1999-09-12', '1999-09-19', '1999-09-26', '1999-10-03',
               '1999-10-10', '1999-10-17', '1999-10-24', '1999-10-31',
               '1999-11-07', '1999-11-14', '1999-11-21', '1999-11-28',
               '1999-12-05', '1999-12-12', '1999-12-19', '1999-12-26'],
              dtype='datetime64[ns]', freq='W-SUN')

In [34]:
pd.date_range(end = "1999-12-31", periods = 20, freq = "W-FRI")

DatetimeIndex(['1999-08-20', '1999-08-27', '1999-09-03', '1999-09-10',
               '1999-09-17', '1999-09-24', '1999-10-01', '1999-10-08',
               '1999-10-15', '1999-10-22', '1999-10-29', '1999-11-05',
               '1999-11-12', '1999-11-19', '1999-11-26', '1999-12-03',
               '1999-12-10', '1999-12-17', '1999-12-24', '1999-12-31'],
              dtype='datetime64[ns]', freq='W-FRI')

In [35]:
pd.date_range(end = "1999-12-31", periods = 53, freq = "MS")

DatetimeIndex(['1995-08-01', '1995-09-01', '1995-10-01', '1995-11-01',
               '1995-12-01', '1996-01-01', '1996-02-01', '1996-03-01',
               '1996-04-01', '1996-05-01', '1996-06-01', '1996-07-01',
               '1996-08-01', '1996-09-01', '1996-10-01', '1996-11-01',
               '1996-12-01', '1997-01-01', '1997-02-01', '1997-03-01',
               '1997-04-01', '1997-05-01', '1997-06-01', '1997-07-01',
               '1997-08-01', '1997-09-01', '1997-10-01', '1997-11-01',
               '1997-12-01', '1998-01-01', '1998-02-01', '1998-03-01',
               '1998-04-01', '1998-05-01', '1998-06-01', '1998-07-01',
               '1998-08-01', '1998-09-01', '1998-10-01', '1998-11-01',
               '1998-12-01', '1999-01-01', '1999-02-01', '1999-03-01',
               '1999-04-01', '1999-05-01', '1999-06-01', '1999-07-01',
               '1999-08-01', '1999-09-01', '1999-10-01', '1999-11-01',
               '1999-12-01'],
              dtype='datetime64[ns]', freq='MS')

## The dt Accessor

In [36]:
bunch_of_dates = pd.date_range(start = "2000-01-01", end = "2010-12-31", freq = "24D")

In [37]:
s = pd.Series(bunch_of_dates)
s.head()

0   2000-01-01
1   2000-01-25
2   2000-02-18
3   2000-03-13
4   2000-04-06
dtype: datetime64[ns]

In [38]:
s.dt.day

0       1
1      25
2      18
3      13
4       6
5      30
6      24
7      17
8      11
9       4
10     28
11     21
12     15
13      8
14      2
15     26
16     19
17     12
18      8
19      1
20     25
21     19
22     12
23      6
24     30
25     23
26     16
27     10
28      3
29     27
       ..
138    25
139    18
140    14
141     7
142     1
143    25
144    18
145    12
146     5
147    29
148    22
149    16
150     9
151     3
152    27
153    20
154    13
155     9
156     2
157    26
158    20
159    13
160     7
161    31
162    24
163    17
164    11
165     4
166    28
167    22
Length: 168, dtype: int64

In [39]:
s.dt.month

0       1
1       1
2       2
3       3
4       4
5       4
6       5
7       6
8       7
9       8
10      8
11      9
12     10
13     11
14     12
15     12
16      1
17      2
18      3
19      4
20      4
21      5
22      6
23      7
24      7
25      8
26      9
27     10
28     11
29     11
       ..
138     1
139     2
140     3
141     4
142     5
143     5
144     6
145     7
146     8
147     8
148     9
149    10
150    11
151    12
152    12
153     1
154     2
155     3
156     4
157     4
158     5
159     6
160     7
161     7
162     8
163     9
164    10
165    11
166    11
167    12
Length: 168, dtype: int64

In [40]:
s.dt.weekday_name

0       Saturday
1        Tuesday
2         Friday
3         Monday
4       Thursday
5         Sunday
6      Wednesday
7       Saturday
8        Tuesday
9         Friday
10        Monday
11      Thursday
12        Sunday
13     Wednesday
14      Saturday
15       Tuesday
16        Friday
17        Monday
18      Thursday
19        Sunday
20     Wednesday
21      Saturday
22       Tuesday
23        Friday
24        Monday
25      Thursday
26        Sunday
27     Wednesday
28      Saturday
29       Tuesday
         ...
138       Sunday
139    Wednesday
140     Saturday
141      Tuesday
142       Friday
143       Monday
144     Thursday
145       Sunday
146    Wednesday
147     Saturday
148      Tuesday
149       Friday
150       Monday
151     Thursday
152       Sunday
153    Wednesday
154     Saturday
155      Tuesday
156       Friday
157       Monday
158     Thursday
159       Sunday
160    Wednesday
161     Saturday
162      Tuesday
163       Friday
164       Monday
165     Thursday
166       Sunday
167    Wednesday
Length: 168, dtype: object

In [41]:
mask = s.dt.is_quarter_start
s[mask]

0     2000-01-01
19    2001-04-01
38    2002-07-01
137   2009-01-01
dtype: datetime64[ns]

## Import Financial Data Set with pandas_datareader Library

In [42]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [43]:
company = "MSFT"
start = "2010-01-01"
end = "2017-12-31"

stocks = data.DataReader(name = company, data_source = "yahoo", start = start, end = end)
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.525019
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.532942
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  24.382378

In [44]:
stocks.values
stocks.columns
stocks.index
stocks.axes

[DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2017-12-15', '2017-12-18', '2017-12-19', '2017-12-20',
                '2017-12-21', '2017-12-22', '2017-12-26', '2017-12-27',
                '2017-12-28', '2017-12-29'],
               dtype='datetime64[ns]', name='Date', length=2013, freq=None),
 Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')]

## Selecting Rows from a DataFrame with a DateTimeIndex

In [45]:
stocks = data.DataReader(name = company, data_source = "yahoo", start = start, end = end)
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.525019
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.532942
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  24.382378

In [46]:
stocks.loc["2014-03-04"]
stocks.iloc[300]

High         2.576000e+01
Low          2.535000e+01
Open         2.549000e+01
Close        2.569000e+01
Volume       5.447340e+07
Adj Close    2.090376e+01
Name: 2011-03-14 00:00:00, dtype: float64

In [47]:
stocks.loc["2013-10-01" : "2013-10-07"]

                 High        Low       Open      Close      Volume  Adj Close
Date
2013-10-01  33.610001  33.299999  33.349998  33.580002  36718700.0  29.318779
2013-10-02  34.029999  33.290001  33.360001  33.919998  46946800.0  29.615629
2013-10-03  34.000000  33.419998  33.880001  33.860001  38703800.0  29.563251
2013-10-04  33.990002  33.619999  33.689999  33.880001  33008100.0  29.580702
2013-10-07  33.709999  33.200001  33.599998  33.299999  35069300.0  29.074312

In [48]:
birthdays = pd.date_range(start = "1986-02-05", end = "2019-12-31", freq = pd.DateOffset(years = 1))

In [49]:
mask = stocks.index.isin(birthdays)

In [50]:
stocks.loc[mask]

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-02-05  28.280001  27.570000  28.000000  28.020000  80960100.0  22.203266
2013-02-05  27.660000  27.360001  27.620001  27.500000  35410400.0  23.481873
2014-02-05  36.470001  35.799999  36.290001  35.820000  55814400.0  31.511705
2015-02-05  42.639999  41.860001  42.220001  42.450001  36548200.0  38.366859
2016-02-05  52.000000  49.560001  51.939999  50.160000  62009000.0  46.569458

## Timestamp Object Attributes

In [51]:
stocks = data.DataReader(name = company, data_source = "yahoo", start = start, end = end)
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.525019
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.532942
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  24.382378

In [52]:
someday = stocks.index[500]

someday.day
someday.month
someday.year
someday.weekday_name
someday.is_month_end
someday.is_month_start

In [53]:
stocks.insert(0, "Day of Week", stocks.index.weekday_name)

In [54]:
stocks.head()

,Day of Week,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2010-01-04,Monday,31.100000,30.590000,30.620001,30.950001,38409100.0,24.525019
2010-01-05,Tuesday,31.100000,30.639999,30.850000,30.959999,49749600.0,24.532942
2010-01-06,Wednesday,31.080000,30.520000,30.879999,30.770000,58182400.0,24.382378
2010-01-07,Thursday,30.700001,30.190001,30.629999,30.450001,50559700.0,24.128809
2010-01-08,Friday,30.879999,30.240000,30.280001,30.660000,51197400.0,24.295214

In [55]:
 stocks.insert(1, "Is Start of Month", stocks.index.is_month_start)

In [56]:
stocks[stocks["Is Start of Month"]]

,Day of Week,Is Start of Month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2010-02-01,Monday,True,28.480000,27.920000,28.389999,28.410000,85931100.0,22.512297
2010-03-01,Monday,True,29.049999,28.530001,28.770000,29.020000,43805400.0,23.103207
2010-04-01,Thursday,True,29.540001,28.620001,29.350000,29.160000,74768100.0,23.214651
2010-06-01,Tuesday,True,26.309999,25.520000,25.530001,25.889999,76152400.0,20.704370
2010-07-01,Thursday,True,23.320000,22.730000,23.090000,23.160000,92239400.0,18.521185
2010-09-01,Wednesday,True,23.950001,23.540001,23.670000,23.900000,65235900.0,19.214916
2010-10-01,Friday,True,24.820000,24.299999,24.770000,24.379999,62672300.0,19.600819
2010-11-01,Monday,True,27.219999,26.700001,26.879999,26.950001,61912100.0,21.667025
2010-12-01,Wednesday,True,26.250000,25.559999,25.570000,26.040001,74123500.0,21.064047
2011-02-01,Tuesday,True,28.059999,27.610001,27.799999,27.990000,62810700.0,22.641428
2011-03-01,Tuesday,True,26.780001,26.150000,26.600000,26.160000,60055000.0,21.286194
2011-04-01,Friday,True,25.530001,25.309999,25.530001,25.480000,63114200.0,20.732882
2011-06-01,Wednesday,True,25.100000,24.370001,24.990000,24.430000,74033500.0,20.008806
2011-07-01,Friday,True,26.170000,25.840000,25.930000,26.020000,52906200.0,21.311052
2011-08-01,Monday,True,27.690001,26.750000,27.510000,27.270000,61838400.0,22.334837
2011-09-01,Thursday,True,26.860001,26.209999,26.459999,26.209999,60510800.0,21.602161
2011-11-01,Tuesday,True,26.320000,25.860001,26.190001,25.990000,61182600.0,21.420837
2011-12-01,Thursday,True,25.629999,25.200001,25.559999,25.280001,48545400.0,20.992548
2012-02-01,Wednesday,True,30.049999,29.760000,29.790001,29.889999,67409900.0,24.820702
2012-03-01,Thursday,True,32.389999,31.850000,31.930000,32.290001,77344100.0,26.990191
2012-05-01,Tuesday,True,32.340000,31.950001,32.049999,32.009998,43832300.0,26.756149
2012-06-01,Friday,True,28.959999,28.440001,28.760000,28.450001,56634300.0,23.936499
2012-08-01,Wednesday,True,29.650000,29.209999,29.590000,29.410000,31721800.0,24.744194
2012-10-01,Monday,True,29.980000,29.420000,29.809999,29.490000,54042700.0,24.975866
2012-11-01,Thursday,True,29.559999,28.820000,28.840000,29.520000,72047900.0,25.001280
2013-02-01,Friday,True,28.049999,27.549999,27.670000,27.930000,55565900.0,23.849043
2013-03-01,Friday,True,27.980000,27.520000,27.719999,27.950001,34849700.0,24.063715
2013-04-01,Monday,True,28.660000,28.360001,28.639999,28.610001,29201100.0,24.631943
2013-05-01,Wednesday,True,33.080002,32.599998,32.930000,32.720001,54330900.0,28.170473
2013-07-01,Monday,True,34.990002,34.330002,34.750000,34.360001,31055400.0,29.789886
...,...,...,...,...,...,...,...,...
2014-04-01,Tuesday,True,41.590000,41.070000,41.150002,41.419998,32605000.0,36.711403
2014-05-01,Thursday,True,40.360001,39.950001,40.240002,40.000000,28787400.0,35.452824
2014-07-01,Tuesday,True,42.150002,41.689999,41.860001,41.869999,26917000.0,37.372051
2014-08-01,Friday,True,43.250000,42.599998,43.209999,42.860001,31170300.0,38.255699
2014-10-01,Wednesday,True,46.529999,45.849998,46.270000,45.900002,38088400.0,41.225014
2014-12-01,Monday,True,48.779999,47.709999,47.880001,48.619999,31191600.0,43.943386
2015-04-01,Wednesday,True,40.759998,40.310001,40.599998,40.720001,36865300.0,37.065178
2015-05-01,Friday,True,48.880001,48.400002,48.580002,48.660000,38937300.0,44.292522
2015-06-01,Monday,True,47.770000,46.619999,47.060001,47.230000,28837300.0,43.270256
2015-07-01,Wednesday,True,45.230000,44.099998,44.459999,44.450001,28343900.0,40.723351
2015-09-01,Tuesday,True,42.590000,41.660000,42.169998,41.820000,49688900.0,38.566498
2015-10-01,Thursday,True,44.750000,43.750000,44.750000,44.610001,28657900.0,41.139439
2015-12-01,Tuesday,True,55.230000,54.299999,54.410000,55.220001,39952800.0,51.267258
2016-02-01,Monday,True,55.090000,54.500000,54.880001,54.709999,44208500.0,50.793755
2016-03-01,Tuesday,True,52.590000,50.919998,50.970001,52.580002,33024500.0,49.166725
2016-04-01,Friday,True,55.610001,54.570000,55.049999,55.570000,24399200.0,51.962627
2016-06-01,Wednesday,True,52.950001,52.439999,52.439999,52.849998,25324800.0,49.764847
2016-07-01,Friday,True,51.720001,51.070000,51.130001,51.160000,21400400.0,48.173504
2016-08-01,Monday,True,56.750000,56.139999,56.599998,56.580002,26003400.0,53.277107
2016-09-01,Thursday,True,57.820000,57.009998,57.009998,57.590000,26075400.0,54.566135
2016-11-01,Tuesday,True,60.020000,59.250000,59.970001,59.799999,24533000.0,56.660099
2016-12-01,Thursday,True,60.150002,58.939999,60.110001,59.200001,34542100.0,56.470524
2017-02-01,Wednesday,True,64.620003,63.470001,64.360001,63.580002,39671500.0,60.648590
2017-03-01,Wednesday,True,64.989998,64.019997,64.129997,64.940002,26937500.0,62.321438
2017-05-01,Monday,True,69.550003,68.500000,68.680000,69.410004,31954400.0,66.611198
2017-06-01,Thursday,True,70.610001,69.449997,70.239998,70.099998,21603600.0,67.658966
2017-08-01,Tuesday,True,73.419998,72.489998,73.099998,72.580002,22132300.0,70.052635
2017-09-01,Friday,True,74.739998,73.639999,74.709999,73.940002,21736200.0,71.745491
2017-11-01,Wednesday,True,83.760002,82.879997,83.680000,83.180000,22307400.0,80.711250
2017-12-01,Friday,True,84.809998,83.220001,83.599998,84.260002,29532100.0,82.169785

## The .truncate() Method

In [57]:
stocks = data.DataReader(name = company, data_source = "yahoo", start = start, end = end)
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.525019
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.532942
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  24.382378

In [58]:
stocks.truncate(before = "2011-02-05", after = "2011-02-28")

                 High        Low       Open      Close      Volume  Adj Close
Date
2011-02-07  28.340000  27.790001  27.799999  28.200001  68980900.0  22.811296
2011-02-08  28.340000  28.049999  28.100000  28.280001  34904200.0  22.876007
2011-02-09  28.260000  27.910000  28.190001  27.969999  52905100.0  22.625250
2011-02-10  27.940001  27.290001  27.930000  27.500000  76672400.0  22.245062
2011-02-11  27.809999  27.070000  27.760000  27.250000  83939700.0  22.042831
2011-02-14  27.270000  26.950001  27.209999  27.230000  56766200.0  22.026653
2011-02-15  27.330000  26.950001  27.040001  26.959999  44116500.0  21.937143
2011-02-16  27.070000  26.600000  27.049999  27.020000  70817900.0  21.985968
2011-02-17  27.370001  26.910000  26.969999  27.209999  57207300.0  22.140572
2011-02-18  27.209999  26.990000  27.129999  27.059999  68667800.0  22.018515
2011-02-22  27.100000  26.520000  26.780001  26.590000  60889000.0  21.636082
2011-02-23  26.860001  26.430000  26.530001  26.590000  60234100.0  21.636082
2011-02-24  27.059999  26.500000  26.639999  26.770000  64494200.0  21.782545
2011-02-25  26.950001  26.500000  26.910000  26.549999  53006300.0  21.603535
2011-02-28  26.860001  26.510000  26.690001  26.580000  51379900.0  21.627945

## The pd.DateOffset Objects

In [59]:
stocks = data.DataReader(name = "GOOG", data_source = "yahoo", start = dt.date(2000, 1, 1), end = dt.datetime.now())

In [60]:
stocks.head(3)

                 High        Low       Open      Close      Volume  Adj Close
Date
2004-08-19  51.835709  47.800831  49.813286  49.982655  44871300.0  49.982655
2004-08-20  54.336334  50.062355  50.316402  53.952770  22942800.0  53.952770
2004-08-23  56.528118  54.321388  55.168217  54.495735  18342800.0  54.495735

In [61]:
stocks.index + pd.DateOffset(days = 5)

DatetimeIndex(['2004-08-24', '2004-08-25', '2004-08-28', '2004-08-29',
               '2004-08-30', '2004-08-31', '2004-09-01', '2004-09-04',
               '2004-09-05', '2004-09-06',
               ...
               '2019-08-05', '2019-08-06', '2019-08-07', '2019-08-10',
               '2019-08-11', '2019-08-12', '2019-08-13', '2019-08-14',
               '2019-08-17', '2019-08-18'],
              dtype='datetime64[ns]', name='Date', length=3772, freq=None)

In [62]:
stocks.index - pd.DateOffset(weeks = 2)

DatetimeIndex(['2004-08-05', '2004-08-06', '2004-08-09', '2004-08-10',
               '2004-08-11', '2004-08-12', '2004-08-13', '2004-08-16',
               '2004-08-17', '2004-08-18',
               ...
               '2019-07-17', '2019-07-18', '2019-07-19', '2019-07-22',
               '2019-07-23', '2019-07-24', '2019-07-25', '2019-07-26',
               '2019-07-29', '2019-07-30'],
              dtype='datetime64[ns]', name='Date', length=3772, freq=None)

In [63]:
stocks.index + pd.DateOffset(months = 3)

DatetimeIndex(['2004-11-19', '2004-11-20', '2004-11-23', '2004-11-24',
               '2004-11-25', '2004-11-26', '2004-11-27', '2004-11-30',
               '2004-11-30', '2004-12-01',
               ...
               '2019-10-31', '2019-11-01', '2019-11-02', '2019-11-05',
               '2019-11-06', '2019-11-07', '2019-11-08', '2019-11-09',
               '2019-11-12', '2019-11-13'],
              dtype='datetime64[ns]', name='Date', length=3772, freq=None)

In [64]:
stocks.index - pd.DateOffset(year = 1, months = 3, days = 10)

/anaconda3/lib/python3.6/site-packages/pandas/core/indexes/datetimes.py:962: PerformanceWarning: Non-vectorized DateOffset being applied to Series or DatetimeIndex
  "or DatetimeIndex", PerformanceWarning)

ValueError: year 0 is out of range

In [66]:
stocks = data.DataReader(name = "GOOG", data_source = "yahoo", start = dt.date(2000, 1, 1), end = dt.datetime.now())
stocks.head(3)

                 High        Low       Open      Close      Volume  Adj Close
Date
2004-08-19  51.835709  47.800831  49.813286  49.982655  44871300.0  49.982655
2004-08-20  54.336334  50.062355  50.316402  53.952770  22942800.0  53.952770
2004-08-23  56.528118  54.321388  55.168217  54.495735  18342800.0  54.495735

In [68]:
stocks.index + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2004-08-31', '2004-08-31', '2004-08-31', '2004-08-31',
               '2004-08-31', '2004-08-31', '2004-08-31', '2004-08-31',
               '2004-09-30', '2004-09-30',
               ...
               '2019-08-31', '2019-08-31', '2019-08-31', '2019-08-31',
               '2019-08-31', '2019-08-31', '2019-08-31', '2019-08-31',
               '2019-08-31', '2019-08-31'],
              dtype='datetime64[ns]', name='Date', length=3772, freq=None)

In [71]:
stocks.index - pd.tseries.offsets.MonthBegin()

DatetimeIndex(['2004-08-01', '2004-08-01', '2004-08-01', '2004-08-01',
               '2004-08-01', '2004-08-01', '2004-08-01', '2004-08-01',
               '2004-08-01', '2004-08-01',
               ...
               '2019-07-01', '2019-07-01', '2019-08-01', '2019-08-01',
               '2019-08-01', '2019-08-01', '2019-08-01', '2019-08-01',
               '2019-08-01', '2019-08-01'],
              dtype='datetime64[ns]', name='Date', length=3772, freq=None)

In [74]:
from pandas_datareader import data
from pandas.tseries.offsets import *

In [75]:
stocks.index + MonthEnd()

DatetimeIndex(['2004-08-31', '2004-08-31', '2004-08-31', '2004-08-31',
               '2004-08-31', '2004-08-31', '2004-08-31', '2004-08-31',
               '2004-09-30', '2004-09-30',
               ...
               '2019-08-31', '2019-08-31', '2019-08-31', '2019-08-31',
               '2019-08-31', '2019-08-31', '2019-08-31', '2019-08-31',
               '2019-08-31', '2019-08-31'],
              dtype='datetime64[ns]', name='Date', length=3772, freq=None)

In [78]:
stocks.index + BMonthEnd()

DatetimeIndex(['2004-08-31', '2004-08-31', '2004-08-31', '2004-08-31',
               '2004-08-31', '2004-08-31', '2004-08-31', '2004-08-31',
               '2004-09-30', '2004-09-30',
               ...
               '2019-08-30', '2019-08-30', '2019-08-30', '2019-08-30',
               '2019-08-30', '2019-08-30', '2019-08-30', '2019-08-30',
               '2019-08-30', '2019-08-30'],
              dtype='datetime64[ns]', name='Date', length=3772, freq=None)

In [79]:
stocks.index + QuarterEnd()

DatetimeIndex(['2004-09-30', '2004-09-30', '2004-09-30', '2004-09-30',
               '2004-09-30', '2004-09-30', '2004-09-30', '2004-09-30',
               '2004-09-30', '2004-09-30',
               ...
               '2019-09-30', '2019-09-30', '2019-09-30', '2019-09-30',
               '2019-09-30', '2019-09-30', '2019-09-30', '2019-09-30',
               '2019-09-30', '2019-09-30'],
              dtype='datetime64[ns]', name='Date', length=3772, freq=None)

In [80]:
stocks.index - QuarterEnd()

DatetimeIndex(['2004-06-30', '2004-06-30', '2004-06-30', '2004-06-30',
               '2004-06-30', '2004-06-30', '2004-06-30', '2004-06-30',
               '2004-06-30', '2004-06-30',
               ...
               '2019-06-30', '2019-06-30', '2019-06-30', '2019-06-30',
               '2019-06-30', '2019-06-30', '2019-06-30', '2019-06-30',
               '2019-06-30', '2019-06-30'],
              dtype='datetime64[ns]', name='Date', length=3772, freq=None)

In [81]:
stocks.index + QuarterBegin()

DatetimeIndex(['2004-09-01', '2004-09-01', '2004-09-01', '2004-09-01',
               '2004-09-01', '2004-09-01', '2004-09-01', '2004-09-01',
               '2004-09-01', '2004-12-01',
               ...
               '2019-09-01', '2019-09-01', '2019-09-01', '2019-09-01',
               '2019-09-01', '2019-09-01', '2019-09-01', '2019-09-01',
               '2019-09-01', '2019-09-01'],
              dtype='datetime64[ns]', name='Date', length=3772, freq=None)

## The pandas Timedelta Object

In [84]:
timeA = pd.Timestamp("2016-03-31")
timeB = pd.Timestamp("2016-03-20")

In [85]:
timeA - timeB

Timedelta('11 days 00:00:00')

In [86]:
type(timeA - timeB)

pandas._libs.tslibs.timedeltas.Timedelta

In [87]:
timeB - timeA

Timedelta('-11 days +00:00:00')

In [88]:
pd.Timedelta(days = 3, minutes = 45, hours = 12, weeks = 8)

Timedelta('59 days 12:45:00')

In [89]:
pd.Timedelta("14 days 6 hours 12 minutes 49 seconds")

Timedelta('14 days 06:12:49')

## Timedeltas in a Dataset

In [94]:
shipping = pd.read_csv("ecommerce.csv", index_col = "ID", parse_dates = ["order_date", "delivery_date"])
shipping.head(3)

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26

In [96]:
shipping["Delivery Time"] = shipping["delivery_date"] - shipping["order_date"]

In [97]:
shipping.head(3)

   order_date delivery_date Delivery Time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days

In [100]:
shipping["Twice as Long"] = shipping["delivery_date"] + shipping["Delivery Time"]

In [101]:
shipping.head(3)

   order_date delivery_date Delivery Time Twice as Long
ID
1  1998-05-24    1999-02-05      257 days    1999-10-20
2  1992-04-22    1998-03-06     2144 days    2004-01-18
4  1991-02-10    1992-08-26      563 days    1994-03-12

In [102]:
shipping.dtypes

order_date        datetime64[ns]
delivery_date     datetime64[ns]
Delivery Time    timedelta64[ns]
Twice as Long     datetime64[ns]
dtype: object

In [107]:
mask = shipping["Delivery Time"] > "2000 days"

In [108]:
shipping[mask]

    order_date delivery_date Delivery Time Twice as Long
ID
2   1992-04-22    1998-03-06     2144 days    2004-01-18
10  1992-02-23    1998-12-30     2502 days    2005-11-05
20  1992-10-17    1998-10-06     2180 days    2004-09-24
23  1992-05-30    1999-08-15     2633 days    2006-10-30
32  1990-01-20    1998-07-24     3107 days    2007-01-25
50  1991-05-03    1999-07-17     2997 days    2007-09-30
64  1990-11-25    1998-05-14     2727 days    2005-10-31
66  1992-09-08    1998-12-29     2303 days    2005-04-19
70  1994-02-16    1999-11-06     2089 days    2005-07-26
71  1990-11-25    1998-04-06     2689 days    2005-08-16
75  1990-06-25    1996-12-18     2368 days    2003-06-13
78  1992-02-25    1999-02-17     2549 days    2006-02-09
84  1990-01-24    1996-06-06     2325 days    2002-10-18
91  1993-01-17    1999-09-27     2444 days    2006-06-06
93  1991-12-24    1999-06-15     2730 days    2006-12-05
98  1991-08-23    1997-08-30     2199 days    2003-09-07
130 1990-04-02    1999-08-16     3423 days    2008-12-29
132 1992-09-27    1999-10-18     2577 days    2006-11-07
136 1992-01-28    1998-07-23     2368 days    2005-01-15
141 1991-09-03    1999-03-08     2743 days    2006-09-10
151 1991-01-29    1999-08-05     3110 days    2008-02-09
152 1990-12-09    1998-09-02     2824 days    2006-05-27
160 1991-07-06    1997-01-10     2015 days    2002-07-18
165 1990-03-23    1998-06-07     2998 days    2006-08-22
166 1990-07-12    1998-05-01     2850 days    2006-02-18
196 1991-12-09    1998-08-10     2436 days    2005-04-11
215 1991-05-24    1997-04-09     2147 days    2003-02-24
216 1990-03-09    1997-12-01     2824 days    2005-08-25
222 1993-01-21    1999-04-20     2280 days    2005-07-17
229 1990-04-13    1998-11-17     3140 days    2007-06-23
..         ...           ...           ...           ...
748 1991-06-06    1999-02-19     2815 days    2006-11-04
756 1992-10-11    1999-05-07     2399 days    2005-11-30
760 1990-09-16    1998-12-06     3003 days    2007-02-25
762 1992-01-11    1998-04-20     2291 days    2004-07-28
764 1990-09-19    1999-09-16     3284 days    2008-09-12
775 1992-12-03    1999-06-14     2384 days    2005-12-23
786 1990-10-26    1999-05-10     3118 days    2007-11-22
787 1990-02-27    1996-02-06     2170 days    2002-01-15
799 1993-02-11    1999-02-01     2181 days    2005-01-21
822 1991-11-10    1998-08-20     2475 days    2005-05-30
825 1991-12-12    1999-09-15     2834 days    2007-06-19
826 1990-04-16    1998-05-18     2954 days    2006-06-19
832 1991-08-23    1998-12-13     2669 days    2006-04-04
876 1991-11-21    1997-10-20     2160 days    2003-09-19
881 1990-02-21    1997-09-11     2759 days    2005-04-01
884 1990-01-20    1999-11-12     3583 days    2009-09-03
892 1991-02-21    1998-04-16     2611 days    2005-06-09
894 1990-05-24    1997-08-12     2637 days    2004-10-31
900 1992-01-26    1999-11-23     2858 days    2007-09-20
902 1991-07-03    1999-11-10     3052 days    2008-03-19
904 1990-02-13    1999-11-15     3562 days    2009-08-16
909 1991-01-19    1998-08-22     2772 days    2006-03-25
935 1990-09-26    1998-03-07     2719 days    2005-08-16
943 1991-01-30    1999-12-02     3228 days    2008-10-03
947 1991-06-18    1999-06-11     2915 days    2007-06-04
958 1990-04-26    1997-06-29     2621 days    2004-09-01
972 1990-02-07    1995-11-05     2097 days    2001-08-02
984 1991-07-25    1999-02-09     2756 days    2006-08-27
991 1991-09-09    1998-03-30     2394 days    2004-10-18
993 1990-11-16    1998-04-27     2719 days    2005-10-06

[113 rows x 4 columns]